* {
  margin: 0;
  padding: 0;
}
#about {
  flex-wrap: wrap-reverse;
}
.services {
  flex-wrap: wrap;
}
#about {
  display: flex;
  text-align: center;
  padding-top: 80px;
}
#home h1 {
  margin-top: 52px;
}
#home p {
  padding: 41px 15px;
  font-size: 1.1rem;
}
#home::before {
  height: 586px;
}
.services {
  margin: 0;
}
#navbar ul {
  display: flex;
  padding: 0px 0px;
}
#navbar ul li {
  margin: 0px 0px;
  padding: 7px 0px;
  list-style: none;
}
#navbar img {
  padding: 2px 70px;
}
#navbar ul li a {
  padding: 3px 5px;
}
#about img {
  height: 198px;
}
.h-primary {
  font-size: 2.3rem;
  color: darkgreen;
  padding: 5px 0px;
}
.subpara {
  padding-right: 0px;
}
#home h1 {
  font-size: 2rem;
}
.btn {
  margin-top: 0px;
}
.services .box {
  margin: 17px 29px;
  padding: 22px;
}
#contact-box form {
  width: 80%;
}
