/* CSS Reset */
* {
  margin: 0;
  padding: 0;
  font-family: "Bree Serif", serif;
}
/* Navigation Bar */
#navbar {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.3rem;
  justify-content: space-between;
  position: sticky;
}

#navbar img {
  height: 75px;
  width: 75px;
  padding: 5px 240px;
  cursor: pointer;
}
#LOGO {
  margin-right: auto;
}
#navbar ul {
  display: flex;
  padding: 0px 250px;
}
#navbar ul li {
  margin: 2px 13px;
  padding: 6px 7px;
  list-style: none;
}
#navbar ul li a {
  color: white;
  text-decoration: none;
  border-radius: 22px;

  padding: 5px 13px;
}
#navbar ul li a:hover {
  color: black;
  background-color: white;
  transition: all 0.4s ease 0s;
}

/* Home section */
#home {
  display: flex;
  flex-direction: column;
}

#home::before {
  content: "";
  position: absolute;
  background: url(images/bg.jpg) no-repeat center center/cover;
  top: 0px;
  left: 0px;
  height: 700px;
  width: 100%;
  z-index: -1;
  opacity: 0.9;
}
#home h1 {
  text-align: center;
  color: white;
  font-size: 3rem;
  /* padding: 70px 0px; */
  margin-top: 150px;
}
#home p {
  text-align: center;
  color: white;
  font-size: 1.3rem;
  padding: 60px 232px;
}
/* About section */
#about {
  padding-top: 225px;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 60%;
  margin: auto;
}
#about img {
  height: 300px;
}
.h-primary {
  font-size: 3rem;
  color: darkgreen;
}
.subpara {
  padding-top: 20px;
  padding-right: 33px;
  font-size: 1.1rem;
}
/* Services container */
.center {
  text-align: center;
}
.services {
  display: flex;
  margin: 0px 35px;
}
.services .box {
  margin: 34px 10px;
  border: 2px solid green;
  padding: 34px;
  background-color: #f7f7f7;
  border-radius: 25px;
  box-shadow: 5px 5px 11px;
}
.box img {
  display: block;
  margin: auto;
  height: 140px;
}
#services-container .h-primary {
  margin-bottom: 6px;
  margin-top: 36px;
  font-size: 3.1rem;
}
.h-secondary {
  font-size: 2.3rem;
  padding: 17px;
  color: darkgreen;
}
.btn {
  margin: auto;
  font-size: 1.3rem;
  padding: 8px 7px;
  border-radius: 17px;
  background-color: #8a0303;
  color: white;
  cursor: pointer;
  margin-top: 9px;
}
.btn:hover {
  background-color: white;
  color: black;
  transition: all 0.4s ease 0s;
}
/* Contact section */
#contact h1 {
  padding: 25px;
  color: white;
}
#contact::before {
  content: "";
  position: absolute;
  background: url(images/contact.jpg) no-repeat center center/cover;
  height: 70%;
  width: 100%;
  z-index: -1;
  opacity: 0.7;
}
#contact-box {
  display: flex;
  justify-content: center;
  align-items: center;
}
#contact-box form {
  width: 40%;
}
#contact-box label {
  font-size: 1.3rem;
  color: white;
}
#contact-box input,
#contact-box textarea {
  width: 100%;
  padding: 5px;
  border-radius: 10px;
  font-size: 1rem;
}
footer {
  background-color: white;
  padding: 7px;
  margin-top: 24px;
}
